@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  background-color: rgb(255, 83, 169);
  svg {
    height: 100%;
  }
}

.spacer {
  height: 100%;
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: fit-content;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-left: 2%;
  padding-right: 2%;

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(255, 0, 0);
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}

form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 40px;
  }

  input {
    width: 100px;
  }
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 3px 8px;
    margin-top: 16px;
  }
}

.loginForm{
  color: white;
  border: 1px solid black;
	height: 300px;
	width: 400px;
	padding: 5px 20px;
	border-radius: 20px;
	background-color: rgba(221, 205, 205, 0.5);
  margin: 50px auto;
  margin-top: 30%;
  margin-left: 70%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	form{

		input{
			width: 200px;
			margin: 10px auto;
		}

		button{
			width: 33%;
			margin: 0px auto;
		}
	}
}
.newColorForm{
  color: white;
  height: 200px;
  border: 1px solid black;
	width: 250px;
	padding: 5px 20px;
	border-radius: 20px;
	background-color: rgba(235, 104, 104, 0.5);
  margin: 50px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
  form{
		input{
			width: 200px;
			margin: 10px auto;
		}

  }
  button{
    background-color: rgb(178, 178, 248);
    width: 33%;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 25px;
  }
}
.navbuts{
  background-color: rgb(255, 187, 244);
  border-radius: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100px;
  height: 35px;
  margin-left: 3%;
}
.nav{
border-right: 5px solid black;
}
